@import './variables';
@import './mixins';
@import './keyframes';

html {
    @include html_reset;
}
  
  *, *:before, *:after {
    @include bfore_after;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    @include text_reset;
  }
  
  ol, ul, a {
    @include list_link_reset;
  }
  
  img {
    @include img_reset
  }
  
/* ==================================================== */

h1,h2,h3,a,p {
  color: white;
  font-weight: 400;
}

.heroSection{
  background-color: $dark_color;
  height: 100vh;
  font-family: $font_family;

    nav{
      position: absolute;
      display: flex;
      width: 100%;
      border-bottom: 1px solid $darker_color;

      animation: slideInRight 1s;
    }

    nav > .nav_section{
      padding: 1.5rem 2rem;
      display: flex;
      gap: 1rem;
      border-left: 1px solid $darker_color;

      align-items: center;
      justify-content: center;
    }

    div#logo_section.nav_section{
      justify-content: flex-start;

      svg#logo path{
        fill: rgb(255, 255, 255);

        animation: logo_start 1.4s ease-in-out forwards;
      }
    }

    #links_section{
      gap: 5rem;
      overflow: hidden;
      white-space: nowrap;

        /* typing text doesnt work */
        // animation: blink_caret 0.75s step-end infinite, type_width 4s steps(5, end) infinite;

        a{
          -webkit-animation: links_icons_fade 0.6s ease-out;
          -webkit-animation-iteration-count: none;
          opacity: 1.0;
        }

        #services{
          -webkit-animation-delay: 0.6s;
        }

        #projects{
          -webkit-animation-delay: 0.7s;
        }

        #about{
          -webkit-animation-delay: 0.8s;
        }
    }

    #social_section{
      gap: 3rem;
      
      i{
        font-size: 23px;

        -webkit-animation: links_icons_fade 1.7s ease-out;
        -webkit-animation-iteration-count: none;
        opacity: 1.0;
      }

      .IG{

      }

      .TW{
        -webkit-animation-delay: 0.7s;
      }

      .YT{
        -webkit-animation-delay: 0.8s;
      }
    }

    #links_section, #social_section, #contact_section{
      a{
        border:none;
        position: relative;
  
        &::after{
          content: '';
          position: absolute;
          width: 0px;
          height: 3px;
          left: 50%;
          bottom:-5px;
          background-color: white;
          border-radius: 3px;
          transition: all ease-in-out .2s;
        }
  
        &:hover::after{
          width: 100%;
          left: 0;
        }
      }
    }

    #logo_section, #links_section{
      flex-basis: calc(100% / 3);
    }

    #logo_section{
      a:hover::after{
        border: none;
      }
      
    }

    #social_section, #contact_section{
      flex-grow: 1;
    }

    #contact_section{
      animation: drop_down 0.5s;
      animation-delay: 0.70s;
    }


    /*------------------------------------*/

    #left_slider{
      position: absolute;
      height: 400px;
      width: 40px;
      background-color: white;

      top: 40%;
      z-index: 10000;

      animation: left_slider_drop 1s;
    }

    #right_slider{
      position: absolute;
      height: 250px;
      width: 40px;
      background-color: white;

      top: 20%;
      right: 0;
      z-index: 10000;

      animation: right_slider_drop 1s;
      animation-delay: 0.1s;
    }

    #right_slider2{
      position: absolute;
      height: 50px;
      width: 40px;
      background-color: white;

      top: 52%;
      right: 0;
      z-index: 10000;

      animation: right2_slider_drop 1s;
      animation-delay: 0.05s;
    }

    /*------------------------------------*/

    .text_container{
      position: absolute;
      top: 25%;
      bottom: 25%;
      left: 10%;
      right: 10%;

      padding: 10px;

      .txt{
        position: relative;
        z-index: 10;
      }

      #upperheading{

        width: fit-content;
        font-size: 45px;
        font-weight: $semiBold_font600;

        animation: move_text1 1.5s;
      }

      #subheading{
        font-size: 70px;
        font-weight: $extraBold_font800;
        width: fit-content;

        // animation: move_text 1s;

        &::before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: $dark_color;
          border-left: 2px solid $darker_color;

          animation: text_typing 8s steps(25) infinite;
        }
      }

      #heading{
        font-size: 200px;
        font-weight: $extraBold_font800;
        letter-spacing: 8px;
        margin: -5px 0 5px -10px;
        color: transparent;

        animation: move_text2 1s;

        -webkit-text-stroke: 2px white;
      }
    }
}