@import './variables';
@import './mixins';

@keyframes slideInRight {
    0%   { margin-left: -1000rem; }
    100% { margin-left: 0rem; }
}

@-webkit-keyframes links_icons_fade {
  0% {
      opacity: 0.5;
      transform: scale(0);
  }
  100% {
      opacity: 1;
      -webkit-transform: scale(1.0);
  }
}

@keyframes drop_down {
  0%{ margin-right: -50rem;}
  100% { margin-right: 0rem;}
}

@keyframes move_text1 {
  0% {right: -700rem;}
  50% {right: 20rem}
  100% {right: 0rem;}
}

@keyframes move_text2 {
  0% {right: -700rem;}
  50% {right: 40rem}
  100% {right: 0rem;}
}

@keyframes text_typing {
    40%, 60%{left: 100%;}
    100% {left: 0%;}
}