/* RESET DEFAULT VALUES */

@mixin html_reset {
    box-sizing: border-box;
    font-size: 16px;
    overflow-x: hidden;
}

@mixin bfore_after {
    box-sizing: inherit;
}

@mixin text_reset {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

@mixin list_link_reset {
    list-style: none;
    text-decoration: none;
}

@mixin img_reset{
    max-width: 100%;
    height: auto;
}