@import './variables';
@import './mixins';
@import './keyframes';

html {
    @include html_reset;
}
  
  *, *:before, *:after {
    @include bfore_after;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    @include text_reset;
  }
  
  ol, ul, a {
    @include list_link_reset;
  }
  
  img {
    @include img_reset
  }
  
/* ==================================================== */

.servicesSection{
    position: relative;
    height: 500vh;
    background-color: $dark_color;
    padding-top: 100px;

    font-family: $font_family;

    transition: background 0.5s ease;

    .color-white {
      background-color: white;
    }

    #top_slider{
      position: absolute;
      top: 10px;
      left: 200rem;

      height: 40px;
      width: 400px;
      background-color: $dark_color;
    }

    #top_slider2{
      position: absolute;
      top: 10px;
      right: -20px;

      height: 40px;
      width: 40px;
      background-color: $dark_color;
    }

    #bottom_slider{
      position: absolute;
      left: 0;
      bottom: 0;

      height: 40px;
      width: 400px;
      background-color: $dark_color;
    }

    /*------------------------------------*/

    .services_header_container{
      .text_h2{
        position: absolute;
        top: 50px;
        margin-bottom: 50px;
        font-size: 70px;
        font-weight: $extraBold_font800;
        width: fit-content;
        color: $dark_color;
      }

      .fixed{
        position: fixed;
        top: 50px;
        margin-bottom: 50px;
        font-size: 70px;
        font-weight: $extraBold_font800;
        width: fit-content;
        color: $dark_color;
      }

      // .animation_h2{
      //   animation: h2_animation 0.5s;
      // }
    }

    .first_container_sides{
      h4{
        display: none;
        font-size: 20px;
        font-weight: $extraBold_font800;
        width: fit-content;
        color: $dark_color;
      }

      #first_text_container{
        transition: color 0.5s ease;
      }

      .fixed2{
        position: fixed;
        font-size: 20px;
        font-weight: $extraBold_font800;
        width: fit-content;
        color: $dark_color;
      }
    }

    .second_container_side{
      h1{
        position: absolute;
        font-size: 200px;
        font-weight: $extraBold_font800;
        letter-spacing: 8px;
        margin: -5px 0 5px -10px;
        color: transparent;
        width: 500%;
        left: 150rem;

        -webkit-text-stroke: 2px $dark_color;
        z-index: 100;
      }

      h3{
        font-size: 30px;
        font-weight: $extraBold_font800;
        width: fit-content;
        color: $dark_color;
      }

      video{
        position: absolute;
        z-index: 1;
      }
    }
}