@import './variables';
@import './mixins';
@import './keyframes';

html {
    @include html_reset;
}
  
  *, *:before, *:after {
    @include bfore_after;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    @include text_reset;
  }
  
  ol, ul, a {
    @include list_link_reset;
  }
  
  img {
    @include img_reset
  }
  
/* ==================================================== */

.servicesSection{
  height: 140vw;
  width: 100%;
  background-color: $dark_color;

  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 25vw 60vw 40vw;
  place-items: center;
  // align-content: center;

  font-family: $font_family;
  transition: background 0.5s ease;
  // z-index: 1;

  h1,h2{
    color: $dark_color;
  }

  h1,section{
    grid-column: 2/3;
  }

  .headeris{
    text-align: center;
    font-size: 5vw;
    font-weight: 600;
  }

  section{
    display: grid;
    place-items: center;
    align-content: center;
    // min-height: 30vh;
  } 

  .hidden{
    opacity: 0;

    filter: blur(5px);
    transform: translateX(-100%); 

    transition: all 1.35s;
  }

  .show{
    opacity: 1;

    filter: blur(0);
    transform: translateX(0); 
  }

  .qst{
    h1{
      font-size: 5vw;
      font-weight: 600;

      transition: all 2s
    }
  }

  @media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
  }

  .lower{
    display: flex;
    gap: 1rem;
    margin: 3rem 0 0 0;

    .side_container{
        border: 2px solid $dark_color;
        width: 150px;
        height: 150px;
    }
}
}


