/* VARIABLES */

/* FONTS */
$font_family: 'Inter', sans-serif; 
$regular_font400: 400;
$medium_font500: 500;
$semiBold_font600: 600;
$bold_font700: 700;
$extraBold_font800: 800;
$black_font900: 900;

/* COLOR PALLETE */
$light_color: #F1F6F9;
$dark_color: #0d1b36;
$darker_color: #394867;
$grey_color: #9BA4B4;

/*  */