/* RESET DEFAULT VALUES */ /* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */ /* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */
@-webkit-keyframes slideInRight {
  0% {
    margin-left: -1000rem;
  }
  100% {
    margin-left: 0rem;
  }
}
@keyframes slideInRight {
  0% {
    margin-left: -1000rem;
  }
  100% {
    margin-left: 0rem;
  }
}
@-webkit-keyframes links_icons_fade {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes drop_down {
  0% {
    margin-right: -50rem;
  }
  100% {
    margin-right: 0rem;
  }
}
@keyframes drop_down {
  0% {
    margin-right: -50rem;
  }
  100% {
    margin-right: 0rem;
  }
}
@-webkit-keyframes left_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 40rem;
  }
  100% {
    top: 40%;
  }
}
@keyframes left_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 40rem;
  }
  100% {
    top: 40%;
  }
}
@-webkit-keyframes right_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 35rem;
  }
  100% {
    top: 20%;
  }
}
@keyframes right_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 35rem;
  }
  100% {
    top: 20%;
  }
}
@-webkit-keyframes right2_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 55rem;
  }
  100% {
    top: 52%;
  }
}
@keyframes right2_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 55rem;
  }
  100% {
    top: 52%;
  }
}
@-webkit-keyframes move_text1 {
  0% {
    right: -700rem;
  }
  50% {
    right: 20rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes move_text1 {
  0% {
    right: -700rem;
  }
  50% {
    right: 20rem;
  }
  100% {
    right: 0rem;
  }
}
@-webkit-keyframes move_text2 {
  0% {
    right: -700rem;
  }
  50% {
    right: 40rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes move_text2 {
  0% {
    right: -700rem;
  }
  50% {
    right: 40rem;
  }
  100% {
    right: 0rem;
  }
}
@-webkit-keyframes text_typing {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes text_typing {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
/*======================*/
@-webkit-keyframes h4_text_animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes h4_text_animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes jump_scale {
  0% {
    transform: scale(0);
    top: 600px;
    opacity: 0;
  }
  50% {
    transform: scale(1);
    top: 300px;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    top: 400px;
    opacity: 1;
  }
}
@keyframes jump_scale {
  0% {
    transform: scale(0);
    top: 600px;
    opacity: 0;
  }
  50% {
    transform: scale(1);
    top: 300px;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    top: 400px;
    opacity: 1;
  }
}
@-webkit-keyframes move_h2_animation {
  0%, 100% {
    left: -100rem;
    transform: scale(0.5);
    opacity: 1;
  }
  50% {
    left: 95%;
    transform: scale(1.25);
    opacity: 1;
  }
  75% {
    left: 10%;
    transform: scale(1.25);
    opacity: 1;
  }
  99% {
    left: 40%;
    transform: scale(1000);
    opacity: 1;
  }
}
@keyframes move_h2_animation {
  0%, 100% {
    left: -100rem;
    transform: scale(0.5);
    opacity: 1;
  }
  50% {
    left: 95%;
    transform: scale(1.25);
    opacity: 1;
  }
  75% {
    left: 10%;
    transform: scale(1.25);
    opacity: 1;
  }
  99% {
    left: 40%;
    transform: scale(1000);
    opacity: 1;
  }
}
@-webkit-keyframes show_one_by_one {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes show_one_by_one {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul, a {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==================================================== */
h1, h2, h3, a, p {
  color: white;
  font-weight: 400;
}

.heroSection {
  background-color: #0d1b36;
  height: 56.1251664447vw;
  font-family: "Poppins", sans-serif;
  font-size: 0.8vw;
  position: relative;
  /*------------------------------------*/
  /*------------------------------------*/
}
.heroSection nav {
  position: absolute;
  display: flex;
  width: 100vw;
  border-bottom: 1px solid #394867;
  -webkit-animation: slideInRight 1s;
          animation: slideInRight 1s;
}
.heroSection nav > .nav_section {
  padding: 2vw 3.33vw;
  display: flex;
  gap: 1.66vw;
  border-left: 0.104vw solid #394867;
  align-items: center;
  justify-content: center;
}
.heroSection div#logo_section.nav_section {
  justify-content: flex-start;
}
.heroSection div#logo_section.nav_section svg#logo path {
  fill: rgb(255, 255, 255);
  -webkit-animation: logo_start 1.4s ease-in-out forwards;
          animation: logo_start 1.4s ease-in-out forwards;
}
.heroSection #links_section {
  gap: 6vw;
  overflow: hidden;
  white-space: nowrap;
  /* typing text doesnt work */
}
.heroSection #links_section a {
  -webkit-animation: links_icons_fade 0.6s ease-out;
  -webkit-animation-iteration-count: none;
  opacity: 1;
}
.heroSection #links_section #services {
  -webkit-animation-delay: 0.6s;
}
.heroSection #links_section #projects {
  -webkit-animation-delay: 0.7s;
}
.heroSection #links_section #about {
  -webkit-animation-delay: 0.8s;
}
.heroSection #social_section {
  gap: 5vw;
}
.heroSection #social_section i {
  font-size: 1.198vw;
  -webkit-animation: links_icons_fade 1.7s ease-out;
  -webkit-animation-iteration-count: none;
  opacity: 1;
}
.heroSection #social_section .TW {
  -webkit-animation-delay: 0.7s;
}
.heroSection #social_section .YT {
  -webkit-animation-delay: 0.8s;
}
.heroSection #links_section a, .heroSection #social_section a, .heroSection #contact_section a {
  border: none;
}
.heroSection #links_section a::after, .heroSection #social_section a::after, .heroSection #contact_section a::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0.156vw;
  left: 50vw;
  bottom: -0.26vw;
  background-color: white;
  border-radius: 0.156vw;
  transition: all ease-in-out 0.2s;
}
.heroSection #links_section a:hover::after, .heroSection #social_section a:hover::after, .heroSection #contact_section a:hover::after {
  width: 100%;
  left: 0;
}
.heroSection #links_section {
  flex-basis: 33.3333333333%;
}
.heroSection #logo_section {
  padding: 0 2.5vw;
}
.heroSection #logo_section svg {
  height: 3.375vw;
}
.heroSection #logo_section a:hover::after {
  border: none;
}
.heroSection #social_section, .heroSection #contact_section {
  flex-grow: 1;
}
.heroSection #contact_section {
  -webkit-animation: drop_down 0.5s;
          animation: drop_down 0.5s;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.heroSection #left_slider {
  position: relative;
  height: 20.833vw;
  width: 2.083vw;
  background-color: white;
  top: 40%;
  z-index: 10000;
  -webkit-animation: left_slider_drop 1s;
          animation: left_slider_drop 1s;
}
.heroSection #right_slider {
  position: absolute;
  height: 13.021vw;
  width: 2.083vw;
  background-color: white;
  top: 20%;
  right: 0;
  z-index: 10000;
  -webkit-animation: right_slider_drop 1s;
          animation: right_slider_drop 1s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.heroSection #right_slider2 {
  position: absolute;
  height: 2.604vw;
  width: 2.083vw;
  background-color: white;
  top: 52%;
  right: 0;
  z-index: 10000;
  -webkit-animation: right2_slider_drop 1s;
          animation: right2_slider_drop 1s;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}
.heroSection .text_container {
  position: absolute;
  top: 10vw;
  bottom: 15.5vw;
  left: 10vw;
  right: 10vw;
  padding: 1.041vw;
}
.heroSection .text_container .txt {
  position: relative;
  z-index: 10;
}
.heroSection .text_container #upperheading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.6875vw;
  font-weight: 600;
  -webkit-animation: move_text1 1.5s;
          animation: move_text1 1.5s;
}
.heroSection .text_container #subheading {
  font-size: 3.2916vw;
  font-weight: 800;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.heroSection .text_container #subheading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5vw;
  width: 100vw;
  background-color: #0d1b36;
  border-left: 0.1083vw solid #394867;
  -webkit-animation: text_typing 8s steps(25) infinite;
          animation: text_typing 8s steps(25) infinite;
}
.heroSection .text_container #heading {
  font-size: 15.8333333333vw;
  font-weight: 800;
  letter-spacing: 0.8333333333vw;
  margin: -0.5208333333vw 0 0.5208333333vw -1.0416666667vw;
  color: transparent;
  -webkit-animation: move_text2 1s;
          animation: move_text2 1s;
  -webkit-text-stroke: 2px white;
}

/* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */ /* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */
@keyframes slideInRight {
  0% {
    margin-left: -1000rem;
  }
  100% {
    margin-left: 0rem;
  }
}
@-webkit-keyframes links_icons_fade {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes drop_down {
  0% {
    margin-right: -50rem;
  }
  100% {
    margin-right: 0rem;
  }
}
@keyframes left_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 40rem;
  }
  100% {
    top: 40%;
  }
}
@keyframes right_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 35rem;
  }
  100% {
    top: 20%;
  }
}
@keyframes right2_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 55rem;
  }
  100% {
    top: 52%;
  }
}
@keyframes move_text1 {
  0% {
    right: -700rem;
  }
  50% {
    right: 20rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes move_text2 {
  0% {
    right: -700rem;
  }
  50% {
    right: 40rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes text_typing {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
/*======================*/
@keyframes h4_text_animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes jump_scale {
  0% {
    transform: scale(0);
    top: 600px;
    opacity: 0;
  }
  50% {
    transform: scale(1);
    top: 300px;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    top: 400px;
    opacity: 1;
  }
}
@keyframes move_h2_animation {
  0%, 100% {
    left: -100rem;
    transform: scale(0.5);
    opacity: 1;
  }
  50% {
    left: 95%;
    transform: scale(1.25);
    opacity: 1;
  }
  75% {
    left: 10%;
    transform: scale(1.25);
    opacity: 1;
  }
  99% {
    left: 40%;
    transform: scale(1000);
    opacity: 1;
  }
}
@keyframes show_one_by_one {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul, a {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==================================================== */
.servicesSection {
  height: 140vw;
  width: 100%;
  background-color: #0d1b36;
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 25vw 60vw 40vw;
  place-items: center;
  font-family: "Poppins", sans-serif;
  transition: background 0.5s ease;
}
.servicesSection h1, .servicesSection h2 {
  color: #0d1b36;
}
.servicesSection h1, .servicesSection section {
  grid-column: 2/3;
}
.servicesSection .headeris {
  text-align: center;
  font-size: 5vw;
  font-weight: 600;
}
.servicesSection section {
  display: grid;
  place-items: center;
  align-content: center;
}
.servicesSection .hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.35s;
}
.servicesSection .show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.servicesSection .qst h1 {
  font-size: 5vw;
  font-weight: 600;
  transition: all 2s;
}
@media (prefers-reduced-motion) {
  .servicesSection .hidden {
    transition: none;
  }
}
.servicesSection .lower {
  display: flex;
  gap: 1rem;
  margin: 3rem 0 0 0;
}
.servicesSection .lower .side_container {
  border: 2px solid #0d1b36;
  width: 150px;
  height: 150px;
}

/* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */ /* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */
@keyframes slideInRight {
  0% {
    margin-left: -1000rem;
  }
  100% {
    margin-left: 0rem;
  }
}
@-webkit-keyframes links_icons_fade {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes drop_down {
  0% {
    margin-right: -50rem;
  }
  100% {
    margin-right: 0rem;
  }
}
@keyframes left_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 40rem;
  }
  100% {
    top: 40%;
  }
}
@keyframes right_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 35rem;
  }
  100% {
    top: 20%;
  }
}
@keyframes right2_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 55rem;
  }
  100% {
    top: 52%;
  }
}
@keyframes move_text1 {
  0% {
    right: -700rem;
  }
  50% {
    right: 20rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes move_text2 {
  0% {
    right: -700rem;
  }
  50% {
    right: 40rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes text_typing {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
/*======================*/
@keyframes h4_text_animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes jump_scale {
  0% {
    transform: scale(0);
    top: 600px;
    opacity: 0;
  }
  50% {
    transform: scale(1);
    top: 300px;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    top: 400px;
    opacity: 1;
  }
}
@keyframes move_h2_animation {
  0%, 100% {
    left: -100rem;
    transform: scale(0.5);
    opacity: 1;
  }
  50% {
    left: 95%;
    transform: scale(1.25);
    opacity: 1;
  }
  75% {
    left: 10%;
    transform: scale(1.25);
    opacity: 1;
  }
  99% {
    left: 40%;
    transform: scale(1000);
    opacity: 1;
  }
}
@keyframes show_one_by_one {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul, a {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==================================================== */
.projects {
  background-color: grey;
}

/* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */ /* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */
@keyframes slideInRight {
  0% {
    margin-left: -1000rem;
  }
  100% {
    margin-left: 0rem;
  }
}
@-webkit-keyframes links_icons_fade {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes drop_down {
  0% {
    margin-right: -50rem;
  }
  100% {
    margin-right: 0rem;
  }
}
@keyframes left_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 40rem;
  }
  100% {
    top: 40%;
  }
}
@keyframes right_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 35rem;
  }
  100% {
    top: 20%;
  }
}
@keyframes right2_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 55rem;
  }
  100% {
    top: 52%;
  }
}
@keyframes move_text1 {
  0% {
    right: -700rem;
  }
  50% {
    right: 20rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes move_text2 {
  0% {
    right: -700rem;
  }
  50% {
    right: 40rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes text_typing {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
/*======================*/
@keyframes h4_text_animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes jump_scale {
  0% {
    transform: scale(0);
    top: 600px;
    opacity: 0;
  }
  50% {
    transform: scale(1);
    top: 300px;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    top: 400px;
    opacity: 1;
  }
}
@keyframes move_h2_animation {
  0%, 100% {
    left: -100rem;
    transform: scale(0.5);
    opacity: 1;
  }
  50% {
    left: 95%;
    transform: scale(1.25);
    opacity: 1;
  }
  75% {
    left: 10%;
    transform: scale(1.25);
    opacity: 1;
  }
  99% {
    left: 40%;
    transform: scale(1000);
    opacity: 1;
  }
}
@keyframes show_one_by_one {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul, a {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==================================================== */
.about {
  background-color: yellow;
}/*# sourceMappingURL=main.css.map */