/* RESET DEFAULT VALUES */ /* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */ /* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */
@-webkit-keyframes slideInRight {
  0% {
    margin-left: -1000rem;
  }
  100% {
    margin-left: 0rem;
  }
}
@keyframes slideInRight {
  0% {
    margin-left: -1000rem;
  }
  100% {
    margin-left: 0rem;
  }
}
@-webkit-keyframes links_icons_fade {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes drop_down {
  0% {
    margin-right: -50rem;
  }
  100% {
    margin-right: 0rem;
  }
}
@keyframes drop_down {
  0% {
    margin-right: -50rem;
  }
  100% {
    margin-right: 0rem;
  }
}
@-webkit-keyframes left_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 40rem;
  }
  100% {
    top: 40%;
  }
}
@keyframes left_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 40rem;
  }
  100% {
    top: 40%;
  }
}
@-webkit-keyframes right_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 35rem;
  }
  100% {
    top: 20%;
  }
}
@keyframes right_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 35rem;
  }
  100% {
    top: 20%;
  }
}
@-webkit-keyframes right2_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 55rem;
  }
  100% {
    top: 52%;
  }
}
@keyframes right2_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 55rem;
  }
  100% {
    top: 52%;
  }
}
@-webkit-keyframes move_text1 {
  0% {
    right: -700rem;
  }
  50% {
    right: 20rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes move_text1 {
  0% {
    right: -700rem;
  }
  50% {
    right: 20rem;
  }
  100% {
    right: 0rem;
  }
}
@-webkit-keyframes move_text2 {
  0% {
    right: -700rem;
  }
  50% {
    right: 40rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes move_text2 {
  0% {
    right: -700rem;
  }
  50% {
    right: 40rem;
  }
  100% {
    right: 0rem;
  }
}
@-webkit-keyframes text_typing {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes text_typing {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
/*======================*/
@-webkit-keyframes h2_animation {
  0% {
    transform: translateY(0px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(3px);
    opacity: 1;
  }
}
@keyframes h2_animation {
  0% {
    transform: translateY(0px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(3px);
    opacity: 1;
  }
}
html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul, a {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==================================================== */
h1, h2, h3, a, p {
  color: white;
  font-weight: 400;
}

.heroSection {
  background-color: #0d1b36;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  /*------------------------------------*/
  /*------------------------------------*/
}
.heroSection nav {
  position: absolute;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #394867;
  -webkit-animation: slideInRight 1s;
          animation: slideInRight 1s;
}
.heroSection nav > .nav_section {
  padding: 1.5rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid #394867;
  align-items: center;
  justify-content: center;
}
.heroSection div#logo_section.nav_section {
  justify-content: flex-start;
}
.heroSection div#logo_section.nav_section svg#logo path {
  fill: rgb(255, 255, 255);
  -webkit-animation: logo_start 1.4s ease-in-out forwards;
          animation: logo_start 1.4s ease-in-out forwards;
}
.heroSection #links_section {
  gap: 5rem;
  overflow: hidden;
  white-space: nowrap;
  /* typing text doesnt work */
}
.heroSection #links_section a {
  -webkit-animation: links_icons_fade 0.6s ease-out;
  -webkit-animation-iteration-count: none;
  opacity: 1;
}
.heroSection #links_section #services {
  -webkit-animation-delay: 0.6s;
}
.heroSection #links_section #projects {
  -webkit-animation-delay: 0.7s;
}
.heroSection #links_section #about {
  -webkit-animation-delay: 0.8s;
}
.heroSection #social_section {
  gap: 3rem;
}
.heroSection #social_section i {
  font-size: 23px;
  -webkit-animation: links_icons_fade 1.7s ease-out;
  -webkit-animation-iteration-count: none;
  opacity: 1;
}
.heroSection #social_section .TW {
  -webkit-animation-delay: 0.7s;
}
.heroSection #social_section .YT {
  -webkit-animation-delay: 0.8s;
}
.heroSection #links_section a, .heroSection #social_section a, .heroSection #contact_section a {
  border: none;
  position: relative;
}
.heroSection #links_section a::after, .heroSection #social_section a::after, .heroSection #contact_section a::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  left: 50%;
  bottom: -5px;
  background-color: white;
  border-radius: 3px;
  transition: all ease-in-out 0.2s;
}
.heroSection #links_section a:hover::after, .heroSection #social_section a:hover::after, .heroSection #contact_section a:hover::after {
  width: 100%;
  left: 0;
}
.heroSection #logo_section, .heroSection #links_section {
  flex-basis: 33.3333333333%;
}
.heroSection #logo_section a:hover::after {
  border: none;
}
.heroSection #social_section, .heroSection #contact_section {
  flex-grow: 1;
}
.heroSection #contact_section {
  -webkit-animation: drop_down 0.5s;
          animation: drop_down 0.5s;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.heroSection #left_slider {
  position: absolute;
  height: 400px;
  width: 40px;
  background-color: white;
  top: 40%;
  z-index: 10000;
  -webkit-animation: left_slider_drop 1s;
          animation: left_slider_drop 1s;
}
.heroSection #right_slider {
  position: absolute;
  height: 250px;
  width: 40px;
  background-color: white;
  top: 20%;
  right: 0;
  z-index: 10000;
  -webkit-animation: right_slider_drop 1s;
          animation: right_slider_drop 1s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.heroSection #right_slider2 {
  position: absolute;
  height: 50px;
  width: 40px;
  background-color: white;
  top: 52%;
  right: 0;
  z-index: 10000;
  -webkit-animation: right2_slider_drop 1s;
          animation: right2_slider_drop 1s;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}
.heroSection .text_container {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 10%;
  right: 10%;
  padding: 10px;
}
.heroSection .text_container .txt {
  position: relative;
  z-index: 10;
}
.heroSection .text_container #upperheading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 45px;
  font-weight: 600;
  -webkit-animation: move_text1 1.5s;
          animation: move_text1 1.5s;
}
.heroSection .text_container #subheading {
  font-size: 70px;
  font-weight: 800;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.heroSection .text_container #subheading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0d1b36;
  border-left: 2px solid #394867;
  -webkit-animation: text_typing 8s steps(25) infinite;
          animation: text_typing 8s steps(25) infinite;
}
.heroSection .text_container #heading {
  font-size: 200px;
  font-weight: 800;
  letter-spacing: 8px;
  margin: -5px 0 5px -10px;
  color: transparent;
  -webkit-animation: move_text2 1s;
          animation: move_text2 1s;
  -webkit-text-stroke: 2px white;
}

/* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */ /* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */
@keyframes slideInRight {
  0% {
    margin-left: -1000rem;
  }
  100% {
    margin-left: 0rem;
  }
}
@-webkit-keyframes links_icons_fade {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes drop_down {
  0% {
    margin-right: -50rem;
  }
  100% {
    margin-right: 0rem;
  }
}
@keyframes left_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 40rem;
  }
  100% {
    top: 40%;
  }
}
@keyframes right_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 35rem;
  }
  100% {
    top: 20%;
  }
}
@keyframes right2_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 55rem;
  }
  100% {
    top: 52%;
  }
}
@keyframes move_text1 {
  0% {
    right: -700rem;
  }
  50% {
    right: 20rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes move_text2 {
  0% {
    right: -700rem;
  }
  50% {
    right: 40rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes text_typing {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
/*======================*/
@keyframes h2_animation {
  0% {
    transform: translateY(0px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(3px);
    opacity: 1;
  }
}
html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul, a {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==================================================== */
.servicesSection {
  position: relative;
  height: 100vh;
  background-color: white;
  font-family: "Poppins", sans-serif;
  /*------------------------------------*/
}
.servicesSection #top_slider {
  position: absolute;
  top: 10px;
  left: 200rem;
  height: 40px;
  width: 400px;
  background-color: #0d1b36;
}
.servicesSection #top_slider2 {
  position: absolute;
  top: 10px;
  right: -20px;
  height: 40px;
  width: 40px;
  background-color: #0d1b36;
}
.servicesSection #bottom_slider {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 400px;
  background-color: #0d1b36;
}
.servicesSection .services_header_container .text_h2 {
  margin-bottom: 50px;
  font-size: 70px;
  font-weight: 800;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #0d1b36;
}
.servicesSection .first_container_sides h4 {
  font-size: 20px;
  font-weight: 800;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #0d1b36;
}
.servicesSection .second_container_side h1 {
  position: absolute;
  font-size: 200px;
  font-weight: 800;
  letter-spacing: 8px;
  margin: -5px 0 5px -10px;
  color: transparent;
  width: 500%;
  left: 150rem;
  -webkit-text-stroke: 2px #0d1b36;
  z-index: 100;
}
.servicesSection .second_container_side h3 {
  font-size: 30px;
  font-weight: 800;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #0d1b36;
}
.servicesSection .second_container_side video {
  position: absolute;
  z-index: 1;
}

/* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */ /* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */
@keyframes slideInRight {
  0% {
    margin-left: -1000rem;
  }
  100% {
    margin-left: 0rem;
  }
}
@-webkit-keyframes links_icons_fade {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes drop_down {
  0% {
    margin-right: -50rem;
  }
  100% {
    margin-right: 0rem;
  }
}
@keyframes left_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 40rem;
  }
  100% {
    top: 40%;
  }
}
@keyframes right_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 35rem;
  }
  100% {
    top: 20%;
  }
}
@keyframes right2_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 55rem;
  }
  100% {
    top: 52%;
  }
}
@keyframes move_text1 {
  0% {
    right: -700rem;
  }
  50% {
    right: 20rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes move_text2 {
  0% {
    right: -700rem;
  }
  50% {
    right: 40rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes text_typing {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
/*======================*/
@keyframes h2_animation {
  0% {
    transform: translateY(0px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(3px);
    opacity: 1;
  }
}
html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul, a {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==================================================== */
.projects {
  background-color: grey;
}

/* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */ /* VARIABLES */
/* FONTS */
/* COLOR PALLETE */
/*  */
/* RESET DEFAULT VALUES */
@keyframes slideInRight {
  0% {
    margin-left: -1000rem;
  }
  100% {
    margin-left: 0rem;
  }
}
@-webkit-keyframes links_icons_fade {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes drop_down {
  0% {
    margin-right: -50rem;
  }
  100% {
    margin-right: 0rem;
  }
}
@keyframes left_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 40rem;
  }
  100% {
    top: 40%;
  }
}
@keyframes right_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 35rem;
  }
  100% {
    top: 20%;
  }
}
@keyframes right2_slider_drop {
  0% {
    top: -1000rem;
  }
  50% {
    top: 55rem;
  }
  100% {
    top: 52%;
  }
}
@keyframes move_text1 {
  0% {
    right: -700rem;
  }
  50% {
    right: 20rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes move_text2 {
  0% {
    right: -700rem;
  }
  50% {
    right: 40rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes text_typing {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
/*======================*/
@keyframes h2_animation {
  0% {
    transform: translateY(0px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(3px);
    opacity: 1;
  }
}
html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul, a {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==================================================== */
.about {
  background-color: yellow;
}/*# sourceMappingURL=main.css.map */