@tailwind base;
@tailwind components;
@tailwind utilities;

// $background: '/src/assets/decoration.svg' !important;

body {
	background: #141416;
	z-index: 1;

	#hero {
		background-image: url('/gridy2.png');
		background-size: cover;
		background-position: center;
		z-index: 100;
		main {
			animation: drop 2s ease-in-out;
		}
		.blurred-circle {
			position: absolute;
			top: 17%;
			left: 23%;
			z-index: 40;
			border-radius: 100%;
			width: 65rem;
			height: 40rem;
			filter: blur(80px);
			background-color: rgba(45, 45, 45, 1);
		}
	}
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(10%);
	}
	70% {
		opacity: 1;
		transform: translateY(0) scale();
	}
	100% {
		transform: translateY(0);
	}
}
